body {
	background: #EFEFBB;
	background: linear-gradient(to right, rgb(155, 227, 241), rgb(245, 164, 231));
	color: white;
	margin: 0;
	font-family: rubik;
}
#paginacao{
	display:flex ;
	justify-content: center;
	align-items: center;
}